@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

*{
    
    margin: 0;
    padding: 0;
}

body{
    background-color: #e9871c;
    overflow: hidden;
}

.gameContainer{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.dino{
    background-image: url(player.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 150px;
    position: absolute;
    bottom: 12px;
    left: 20px;
}

.obstacle{
    background-image: url(monster.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 182px;
    height: 114px;
    position: absolute;
    bottom: 15px;
    right: 20px;

}
.gameOver{
    position: relative;
    top: 63px;
    font-size: 53px;
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-weight: bold   ;
}

#scoreCont{
    position: absolute;
    font-size: 20px;
    max-width: 15%;
    font-family: 'Pattaya', sans-serif;
    width: 10%;
    font-weight: bold ;
    right: 23px;
    top: 23px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
}
.animateDino{
    animation: dino 0.9s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}

@keyframes movedown{
    0%{
        bottom: 15px;
    }
    100%{
        bottom: -150px;
    }
} 